h1 {
    color: green;
    text-decoration: underline;
}

h2 {
    color: blue;
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    width: 100%;
    max-width: 1000px;
}

td {
    width: 25%;
    text-align: center;
}
