/* NAVIGATION BAR */
body {
  background-color: black;
}


.home-container {
  display: flex;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;

}

.sidebar-left {
  width: 100px;
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: rgba(255, 255, 255, 0.15);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

}

.solid {
  width: 100%;
  border: solid 1px dimgray;

}

.sidebar-link {
  text-decoration: none;
  color: rgba(255, 255, 255, .9);
}

.sidebar-icon-container-top {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
  height: 50px;
}

.sidebar-icon-container {
  width: 100px;
  height: 50px;
  margin: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-icon-container-bottom {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
  height: 50px;
}

.sidebar-icon {
  width: 40px;
  height: 40px;
}

.sidebar-icon:hover {
  width: 50px;
  height: 50px;
}

.main-content {
  width: calc(100vw - 100px);
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content:space-between;
  flex-grow: 1;
  top: 0%;
  left: 100px;
  height: 100vh;
  padding: calc(100vw * .025);
  overflow: visible;

}

.summary {
  width: calc(100vw - 100px - (100vw * .05));
  height: calc((100vh - (100vw * .05)) * .4 - (100vw * .0125));

}

.summary-title {
  height: calc((((100vh - 100vw * .05) * .6 - 100vw * .0125) / 2 - 100vw * .005125) * .2);
  width: calc(100vw - 100px - (100vw * .05));
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.summary-title h1 {
  color: rgba(255, 255, 255, .9);
  font-size: calc(((((100vh - 100vw * .05) * .6 - 100vw * .0125) / 2 - 100vw * .005125) * .2) * .6);
  font-weight: normal;
}

.summary-vals {
  width: calc(100vw - 100px - (100vw * .05));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: calc(((100vh - (100vw * .05)) * .4 - (100vw * .0125)) - ((((100vh - 100vw * .05) * .6 - 100vw * .0125) / 2 - 100vw * .005125) * .2));

}

.summary-vals h1 {
  color: rgba(255, 255, 255, .9);
  font-size: calc((((100vh - (100vw * .05)) * .4 - (100vw * .0125)) - ((((100vh - 100vw * .05) * .6 - 100vw * .0125) / 2 - 100vw * .005125) * .2)) * .2);
  font-weight: normal;
}

.summary-vals h2 {
  color: rgba(255, 255, 255, .9);
  font-size: calc((((100vh - (100vw * .05)) * .4 - (100vw * .0125)) - ((((100vh - 100vw * .05) * .6 - 100vw * .0125) / 2 - 100vw * .005125) * .2)) * .075);
  font-weight: normal;
}

.summary-val {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(((100vh - (100vw * .05)) * .4 - (100vw * .0125)) - ((((100vh - 100vw * .05) * .6 - 100vw * .0125) / 2 - 100vw * .005125) * .2));
  width: calc(((100vh - (100vw * .05)) * .4 - (100vw * .0125)) - ((((100vh - 100vw * .05) * .6 - 100vw * .0125) / 2 - 100vw * .005125) * .2));
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.visualizations {
  width: calc(100vw - 100px - (100vw * .05));
  height: calc((100vh - (100vw * .05)) * .6 - (100vw * .0125));
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.visualization {
  width: calc((100vw - 100px - (100vw * .05)) * .5 - (100vw * .0125));
  height: calc((100vh - (100vw * .05)) * .6 - (100vw * .0125));
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.visualization-title {
  height: calc((((100vh - 100vw * .05) * .6 - 100vw * .0125) / 2 - 100vw * .005125) * .2);
  width: calc((100vw - 100px - (100vw * .05)) * .5 - (100vw * .0125));
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.visualization-title h1 {
  color: rgba(255, 255, 255, .9);
  font-size: calc(((((100vh - 100vw * .05) * .6 - 100vw * .0125) / 2 - 100vw * .005125) * .2) * .6);
  font-weight: normal;
}




.topChart {
  display: flex;
  width: 100%;
  height: calc(((100vh - (100vw * .05)) * .6 - (100vw * .0125)) - ((((100vh - 100vw * .05) * .6 - 100vw * .0125) / 2 - 100vw * .005125) * .2));
  background-color: rgba(255, 255, 255, .15);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 25px;
  border-radius: 5px;
  overflow: hidden;
  flex-direction: column;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
