/* NAVIGATION BAR */
body {
  background-image: linear-gradient(45deg, black, gray);
}


.home-container {
  display: flex;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: purple;

}

.sidebar-left {
  width: 0px;
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 0px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.15);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;



}

.solid {
  width: 100%;
  border: solid 1px dimgray;

}



.sidebar-link {
  text-decoration: none;
  color: rgba(255, 255, 255, .9);
}

.sidebar-icon-container-top {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
  height: 50px;
}

.sidebar-icon-container {
  width: 100px;
  height: 50px;
  margin: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-icon-container-bottom {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
  height: 50px;
}

.sidebar-icon {
  width: 40px;
  height: 40px;
}

.sidebar-icon:hover {
  width: 50px;
  height: 50px;
}

.main-content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content:space-between;
  flex-grow: 1;
  top: 0%;
  left: 0%;
  height: 100vh;
  overflow: visible;
  padding: 0;
  margin: 0;

}

.search {
  width: 100vw;
  height: calc(100vh * .5);
  padding: calc(100vw * .05);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.welcome {
  width: calc(100vw - 100vw * .1);
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  margin: 0;



}

.welcome h1 {
  color: rgba(255, 255, 255, .9);
  font-size: calc((100vh * .4 - 100vw * .1) * .2 * .5);
  font-weight: normal;
}

#mySearch {
  width: 100%;
  font-size: calc((100vh * .4 - 100vw * .1) * .2 * .3);
  padding: 15px;
  background: rgba(255, 255, 255, 0.0);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  transition: all .3s ease;
  color: rgba(255, 255, 255, .9);
}

#mySearch.highlight {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 5px;

}

#mySearch:focus {
  outline: None;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  color: rgba(255, 255, 255, .9);
  overflow: auto;
  transition: all .3s ease;
  height: 0;


}

#myMenu.expand {
  height: calc(100vh * .5);
}

#myMenu li {
  margin: 25px 0px 0px 0px;
}

/* Style the navigation links */
#myMenu li a {
  padding: 12.5px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

#myMenu li a:hover {
  background: rgba(0, 0, 0, 0.4);
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 100vw * .1);
  height: 85%;

}

.search-background {
  width: calc(100vw - (100vw * .1));
  max-height: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  transition: all .3s ease;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#section-background.visible {

}



.search-field a{
  text-decoration: none;
  color: rgba(255, 255, 255, .9);
}

.search-row {
  display: flex;
  align-items: center;

}

.input-bar::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: calc((100vh * .4 - 100vw * .1) * .2 * .25);
  color: rgba(255, 255, 255, .9);
  opacity: 1;
}

.input-bar {
  font-family: 'Roboto', sans-serif;
  font-size: calc((100vh * .4 - 100vw * .1) * .2 * .25);
}

.search-row h1 {
  font-family: 'Roboto', sans-serif;
  font-size: calc((100vh * .4 - 100vw * .1) * .2 * .25);
  font-weight: normal;
}

.search-cover {
  width: 10%;

}

.search-cover img {
  border-radius: 5px;
  width: 100%;
}

.search-text {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.search-name {
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-name h1 {
  text-align: left;
  font-size: calc((100vh * .4 - 100vw * .1) * .2 * .25);
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-artist {
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-artist h1 {
  text-align: right;
  font-size: calc((100vh * .4 - 100vw * .1) * .2 * .25);
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-container {
  width: calc(100vw);
  height: calc(100vh * .5);

}

.container-title {
  width: calc(100vw);
  height: calc(100vh * .4 * .15);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px calc(100vw * .05);
}

.container-title h1 {
  font-size: calc((100vh * .4 - 100vw * .1) * .2 * .5);
  color: rgba(255, 255, 255, .9);
  font-weight: normal;
}

.container-body {
  width: calc(100vw);
  height: calc(100vh * .5 - (100vh * .4 * .15));
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  padding: 0px calc(100vw * .05) calc(100vw * .05) calc(100vw * .05);
  align-items: flex-start;
  justify-content: space-between;
}



.container-body a {
  text-decoration: none;
  color: rgba(255, 255, 255, .9);
}
.container-card {
  width: calc((100vh * .5 - (100vh * .4 * .15) - (100vw * .05)) / 3 * 2);
  height: calc(100vh * .5 - (100vh * .4 * .15) - (100vw * .075));
  padding: calc(100vw * .05) calc(100vw * .05) 0px calc(100vw * .05);
  margin-right: calc(100vw * .05);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  background-color: red;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.15);
  transition-duration: .25s;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.container-card:hover {
  background: rgba(255, 255, 255, 0.2);
  transition-duration: .25s;

}

.container-card:hover .card-streams-circle {
  opacity: .95;
  transition-duration: .25s;

}

.card-cover {
  width: calc((100vh * .5 - (100vh * .4 * .15) - (100vw * .2)) / 3 * 2);
  height: calc((100vh * .5 - (100vh * .4 * .15) - (100vw * .2)) / 3 * 2);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;


}

.card-streams-circle {
  position: absolute;
  bottom: calc(100vw * .0125);
  right: calc(100vw * .0125);
  background-color: green;
  opacity: .9;
  border-radius: 50%;
  width: calc((100vh * .5 - (100vh * .4 * .15) - (100vw * .2)) / 3 * 2 * .3);
  height: calc((100vh * .5 - (100vh * .4 * .15) - (100vw * .2)) / 3 * 2 * .3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .25s;
}

.card-streams-circle h1 {
  font-size: calc((100vh * .4 - 100vw * .1) * .2 * .3);
  color: rgba(255, 255, 255, .9);
  font-weight: bold;
}

.card-cover img {
  width: 100%;
  border-radius: 10px;

}

.card-text {
  height: calc((100vh * .6 - (100vh * .4 * .15)) - (100vw * .05) - ((100vh * .6 - (100vh * .4 * .15) - (100vw * .2)) / 3 * 2 * .35));
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: calc(100vw * .0125) 0px;
  width: calc((100vh * .5 - (100vh * .4 * .15) - (100vw * .2)) / 3 * 2);
  flex-grow: 1
}

.card-chart {
  height: 0px;
  width: 0px;
}



.card-text-top {
  width: calc((100vh * .5 - (100vh * .4 * .15) - (100vw * .2)) / 3 * 2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.card-text-top h1 {
  font-size: calc((100vh * .4 - 100vw * .1) * .2 * .3);
  color: rgba(255, 255, 255, .9);
  font-weight: normal;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text-bottom {
  width: calc((100vh * .5 - (100vh * .4 * .15) - (100vw * .2)) / 3 * 2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text-bottom h1 {
  font-size: calc((100vh * .4 - 100vw * .1) * .2 * .25);
  color: rgba(255, 255, 255, .9);
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}





* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
